*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: rgba(19, 35, 47, 0.9);
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form-group.internal {
  margin-bottom: 0;
}

.form {
  background: #c1bdba;
  padding: 20px;
  max-width: 900px;
  margin: 70px auto;
  border-radius: 0px;
  /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
}
.position {
	position:center
}
.custom-select select {
	display:none;
}
.selected-selected {
	background-color:DodgerBlue;
}
.select-selected:after {
	position:absolute;
	content: "";
	top:14px;
	width:0;
	height:0;
	border:6px solid transparent;
	border-color:#fff transparent transparent transparent;
}
.select-items div,.select-selected {
	color: #ffffff;
	border:1px solid transparent;
	cursor:pointer;
}
.select-items {
	position:absolute;
	background-color:DodgerBlue;
	top:100%;
	z-index:99;
}

.barang {
  background: #ffffff;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 0px;
}
.memasak {
  background: #ffffff;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 0px;
}
.peralatan {
  background: #ffffff;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 0px;
}
.total{
  background: green;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 0px;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h3{
  text-align: center;
  color: #000000;
  font-weight: 200;
  margin: 0 0 40px;
}
h1{
  text-align: center;
  color: #000000;
  font-weight: 300;
  margin: 0 0 40px;
}
h2{
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
ol,li {
  color: #000000;
  font-weight: 300;
  margin: 0 0 40px;
}

.form-control {
    border-radius: 0;
    border: 2px solid #111;
}

p {
	color: #000000;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #000000;
  /*#a0b3b0*/
  color: #000000;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #000000;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 20px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 20px ;
  font-size: 1rem;
  background: #1ab188;
  color: #ffffff;
  transition: all 1.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.indent-small {
  margin-left: 5px;
}
.form-group.internal {
  margin-bottom: 0;
}
.dialog-panel {
  margin: 10px;
}
.datepicker-dropdown {
  z-index: 200 !important;
}
.panel-body {
  background: #e5e5e5;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #e5e5e5 0%, #ffffff 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #e5e5e5 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font: 600 15px "Open Sans", Arial, sans-serif;
}
label.control-label {
  font-weight: 600;
  color: #777;
}
